/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Base styles */
body {
  background-color: #f3f3f3;
  font-family: 'Delius' !important;
  font-size: 16px;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

ul {
  padding-left: 1em;
}

a {
  text-decoration: none;
}

/* cv styles */
.cv-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  gap: 3%;
}

/* header styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  max-width: 1180px;
  margin: 1em auto;
  padding: 20px 0;
}

.header span {
  font-family: 'Pacifico', sans-serif;
  font-size: 2em;
  align-self: flex-start;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8em;
  margin-right: 6.5%;
}

.navbar i {
  color: #000000;
  font-size: 1.8em;
}

/* left-box styles */
.left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 260px;
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  padding-top: 25px;
  background-color: #2eb474;
}

.top-left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 25px;
  background-color: #2eb474;
}

.photo {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  padding: 10px;
}

.top-left-box h2 {
  font-size: 1.625em;
  color: #fff;
}

.top-left-box p {
  font-size: 1.143em;
  color: #fff;
  opacity: 0.65;
}

.bottom-left-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

.cv-button {
  color: #fff;
  background-color: #f16b1a;
  width: 250px;
  height: 45px;
  padding: 12px 35px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Delius', sans-serif;
  font-weight: 700;
}

/* paper styles */
.paper-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paper {
  background-color: #fff;
  width: 100%;
  max-width: 808px;
  padding: 40px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.paper h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.paper p {
  line-height: 1.875em;
  font-size: 16px;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2eb474;
  width: 160px;
  height: 32px;
  min-width: 160px;
  min-height: 32px;
}

.date-container p {
  color: #fff;
  font-size: 14px;
}

.arrow {
  content: '';
  height: 0;
  width: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 10px solid #2eb474;
}

.task-container {
  margin-top: 6px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-container h3 {
  font-size: 20px;
  letter-spacing: 0;
}

.task-company {
  color: #757575;
  line-height: 1.1;
  letter-spacing: 0;
  font-size: 1em;
  margin: 4px 0;
  font-style: italic;
}

.line {
  content: '';
  display: block;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  min-width: 80%;
  margin: 2em auto;
}

/* svg styles */
#crtBgShape1,
#crtBgShape2 {
  top: 0;
  position: fixed;
  z-index: -1;
}

#crtBgShape1 {
  left: 0;
}

#crtBgShape2 {
  top: -100px;
  right: -100px;
}

#crtBgShape1 polygon {
  fill: #e1e1e1;
}

#crtBgShape2 polygon {
  fill: #2eb474;
}

@media only screen and (max-width: 990px) {
  .header {
    width: 100%;
    padding-left: 15px;
  }

  .cv-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
  }

  .cv-button {
    color: #fff;
    background-color: #f16b1a;
    width: 90%;
  }

  .paper-container {
    gap: 0;
  }

  .paper {
    width: 100%;
    max-width: 100%;
    border: none;
  }

  #crtBgShape1 polygon {
    display: none;
  }

  #crtBgShape2 polygon {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .experience-block {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .date-container {
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
  }

  .arrow {
    display: none;
  }

  .line {
    margin: 1em auto;
    width: 95%;
  }
}
