:root {
  --body-background-color: #f3f3f3;
  --left-polygon-color: #e1e1e1;
  --green: #2eb474;
  --paper-color: #fff;
  --gray-border: #ccc;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* Box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Base styles */
body {
  background-color: var(--body-background-color);
  font-family: 'Delius' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', sans-serif;
}

/* cv styles */
.cv-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  gap: 3%;
}

/* left-box styles */
.left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 395px;
  background-color: var(--green);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 195px;
  height: 195px;
  border-radius: 50%;
}

.left-box h2 {
  color: #fff;
}

.left-box p {
  color: #fff;
  opacity: 0.65;
}

/* paper styles */
.paper {
  background-color: var(--paper-color);
  width: 70%;
}

/* svg styles */
#crtBgShape1,
#crtBgShape2 {
  top: 0;
  position: fixed;
  z-index: -1;
}

#crtBgShape1 {
  left: 0;
}

#crtBgShape2 {
  top: -100px;
  right: -100px;
}

#crtBgShape1 polygon {
  fill: var(--left-polygon-color);
}

#crtBgShape2 polygon {
  fill: var(--green);
}
